{
  "currencies": [
    {
      "BTC": [
        {
          "Amount": 1.03115444,
          "AtValue": 2950.00
        },
        {
          "Amount": 300.0,
          "AtValue": 1.00
        }
      ],
      "ETH": [
        {
          "Amount": 3.82736,
          "AtValue": 261.25
        }
      ],
      "XRP": [
        {
          "Amount": 23000.00,
          "AtValue": 0.21
        }
      ],
      "STEEM": [
        {
          "Amount": 708.366,
          "AtValue": 1.039
        }
      ],
      "LTC": [
        {
          "Amount": 3.00,
          "AtValue": 39.00
        }
      ],
      "IOT": [
        {
          "Amount": 1700.00,
          "AtValue": 0.55
        }
      ],
      "SC": [
        {
          "Amount": 32978.72340426,
          "AtValue": 0.01
        }
      ],
      "DOT": [
        {
          "Amount": 8175.47458021,
          "AtValue": 0.012
        }
      ]
    }
  ],
  "settings": {
    "UpdateInterval": 10,
    "UpdateTimeout": 10,
    "ApiUrl": "https://min-api.cryptocompare.com/data/",
    "CoinListUrl": "https://www.cryptocompare.com/api/data/coinlist/",
    "BaseCurrency": "EUR",
    "Color": true,
    "ShowConversion": true
  }
}